extends layout
block navmenu
  ul.navbar-nav.ml-auto
    li#menuP.nav-item.active
      a#menu.nav-link(href="/")
        | Home 
        span.sr-only (current)
    li.nav-item
      a.nav-link(href="/about") About
    li#dashboardP.nav-item
      a#dashboard.nav-link(href="/dashboard") Dashboard
block content
  #bodyContents
  #particles-js
    .overlayer
      h1.text-center
        ul.texts.mainShowFonts
          li Temperature
          li Humidity
          li Gas
          li FineDust
          li GPS