doctype html
html
  head
    meta(charset='utf-8')
    // set viewport
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title FreshO2 Webpage
    link(rel='shortcut icon' href='/images/logo/favicon.ico' type='image/x-icon')
    

  body
    nav.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-custom
      .container.nav-font
        a.navbar-brand(href='/')
          img#logo.d-inline-block.mr-1(height='30' width='35' alt='Logo' src='/images/logo/O2_white.png')
          |         FreshO2
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          block navmenu
    block content
 
case page
  when 0
    // stylesheet
    link(href='/stylesheets/bootstrap.min.css' rel='stylesheet' type='text/css')            
    link(href='/stylesheets/animate.css' rel='stylesheet' type='text/css')
    link(href='/stylesheets/style.css' rel='stylesheet' type='text/css')    

    // JS
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(type='text/javascript' src='/javascripts/bootstrap.min.js')
    script(type='text/javascript' src='/javascripts/jquery.fittext.js')
    script(type='text/javascript' src='/javascripts/jquery.lettering.js')
    script(type='text/javascript' src='/javascripts/jquery.textillate.js')
    script(type='text/javascript' src='/javascripts/particles.js')
    script(type='text/javascript' src='/javascripts/app.js')
    script(type='text/javascript').
      $('.texts').textillate({
      minDisplayTime: 2000,
      in: {
      effect: 'flipInX',
      sync: true
      },
      out: {
      delay: 50,
      effect: 'rollOut',
      shuffle: true
      },
      loop: true
      });
      particleJS();

  when 1
    // stylesheet
    link(href='/stylesheets/bootstrap.min.css' rel='stylesheet' type='text/css')            
    link(href='/stylesheets/animate.css' rel='stylesheet' type='text/css')
    link(href='/stylesheets/style.css' rel='stylesheet' type='text/css')    

    // JS
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(type='text/javascript' src='/javascripts/bootstrap.min.js')

  when 2 
    // stylesheet
    link(href='/stylesheets/bootstrap.min.css' rel='stylesheet' type='text/css')            
    link(href='/stylesheets/animate.css' rel='stylesheet' type='text/css')
    link(href='/stylesheets/style.css' rel='stylesheet' type='text/css')    

    // JS
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(type='text/javascript' src='/javascripts/bootstrap.min.js')

  when 3
    // stylesheet
    link(href='/stylesheets/bootstrap.min.css' rel='stylesheet' type='text/css')            
    link(href='/stylesheets/animate.css' rel='stylesheet' type='text/css')
    link(href='/stylesheets/style.css' rel='stylesheet' type='text/css')    
    link(href='/stylesheets/billboard.css' rel='stylesheet' type='text/css')   

    // JS
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    #vworldScript
      script(type="text/javascript" src="https://map.vworld.kr/js/vworldMapInit.js.do?version=2.0&apiKey=2B5FD2E8-215F-3B64-B391-486EBBCC9185")
    script(type='text/javascript' src='/javascripts/bootstrap.min.js')
    script(type='text/javascript' src='/d3/d3.min.js')
    script(type='text/javascript' src='/javascripts/billboard.min.js')
    #extraModules
      script(type='text/javascript' src='/javascripts/forChart-main.js')#extraModuleO
    script(type='text/javascript' src='/javascripts/dashboard.js')
    script(src='https://toojs.asuscomm.com/socket.io/socket.io.js')
    
    block dashboardScript

  default
    // stylesheet
    link(href='/stylesheets/bootstrap.min.css' rel='stylesheet' type='text/css')            
    link(href='/stylesheets/animate.css' rel='stylesheet' type='text/css')
    link(href='/stylesheets/style.css' rel='stylesheet' type='text/css')    

    // JS
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(type='text/javascript' src='/javascripts/bootstrap.min.js')
