@font-face {
  font-family: 'NanumSquareRoundB';
  src: local('NanumSquareRoundB'),
    url('../fonts/NanumSquareRoundB.woff2') format('woff2');
}

@font-face {
  font-family: 'Homestead Display';
  src: local('Homestead Display'),
    url('../fonts/Homestead-Display.woff2') format('woff2');
}

.bg-custom {
  background-color: #5B5EA6;
}

.bg-custom-mainJumbotron{
  background-color: #000000;
}

.footer-middle {
  background: #FCE4EC;
  padding-top: 2em;
  color: #495057;
}

.mainShowFonts {
  font-family: 'Homestead Display';
  font-weight: 500;
  font-style: normal;
  font-size: 8vw;

 white-space: nowrap;
}
.overlayer{
  position:absolute;
  top:0;right:0;bottom:0;left:0;

  display:flex;
  align-items:center;
  justify-content:center;

  display:-webkit-flex;
  -webkit-align-item:center;
  -webkit-justify-content:center;
}
#particles-js{
  position:relative;
}
body {
  font-family: 'NanumSquareRoundB'
}
